@font-face {
  font-family: 'kc';
  src: url('../font/kc.eot?36252402');
  src: url('../font/kc.eot?36252402#iefix') format('embedded-opentype'),
       url('../font/kc.woff?36252402') format('woff'),
       url('../font/kc.ttf?36252402') format('truetype'),
       url('../font/kc.svg?36252402#kc') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'kc';
    src: url('../font/kc.svg?36252402#kc') format('svg');
  }
}
*/
 
 [class^="kc-"]:before, [class*=" kc-"]:before {
  font-family: "kc";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.kc-docinfo:before { content: '\e900'; } /* '' */
.kc-personnel:before { content: '\e901'; } /* '' */
.kc-basics:before { content: '\e902'; } /* '' */
.kc-user:before { content: '\e903'; } /* '' */
.kc-attachment:before { content: '\e904'; } /* '' */
.kc-questionnaire:before { content: '\e905'; } /* '' */
.kc-budget-summary:before { content: '\e906'; } /* '' */
.kc-budget:before { content: '\e907'; } /* '' */
.kc-supplemental:before { content: '\e908'; } /* '' */
.kc-summary:before { content: '\e909'; } /* '' */
.kc-rates:before { content: '\e90a'; } /* '' */
.kc-non-personnel:before { content: '\e90b'; } /* '' */
.kc-subawards:before { content: '\e90c'; } /* '' */
.kc-institution:before { content: '\e90d'; } /* '' */
.kc-modular:before { content: '\e90e'; } /* '' */
.kc-periods-totals:before { content: '\e910'; } /* '' */
.kc-make-official:before { content: '\e911'; } /* '' */